IGraphM.iml
/.idea
/build-*
.project
IGraphM.config
IGraphM.creator
IGraphM.files
IGraphM.includes
IGraphM.creator.user
LTemplate-IGraphM.cpp
release
*.lock
IGraphM/LibraryResources/Source/.vscode
WebDocumentation/img/*
WebDocumentation/img2/*
WebDocumentation/igraphm0.md
WebDocumentation/igraphm.md
WebDocumentation/index.html
WebDocumentation/IGDocumentation/*
WebDocumentation/igraphm.yaml
WebDocumentation/mathematica.xml
